<div class="userDetails"
     ng-if="$ctrl.details.login != ''">
    <div class="row userInfo">
        <div class="col-2 userImage">
            <img class="image"
                 src={{$ctrl.details.avatar_url}}>
        </div>
        <div class="col-10">
            <div class="userData">
                <p class="userLogin"> {{'@' + $ctrl.details.login}} </p>
                <h1 class="userName"> {{$ctrl.details.name}} </h1>
                <p class="userBio"> {{$ctrl.details.bio}} </p>

            </div>
        </div>
    </div>
    <div class="userRepos">
        <h2 class="repoTitle"
            ng-if="$ctrl.details.repos.length > 0 "> Repositories </h2>
        <div class="row repoDetails"
             data-ng-repeat="repo in $ctrl.details.repos">
            <div class="col-10"><h3> {{ repo.name }} </h3></div>
            <div class="col-2 repoIcons">
                <i class="fa fa-star star-font" aria-hidden="true"> {{repo.stargazers_count}} </i>
                <i class="fa fa-code-fork fork-font" aria-hidden="true"> {{repo.forks_count}} </i>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="error"
             ng-if="$ctrl.details.error != ''">{{ $ctrl.details.error }}
        </div>
    </div>
</div>





