<div class="details">
    <div class="userDetails" ng-if="$ctrl.details.login != ''">
        <div>
            <img src={{$ctrl.details.avatar_url}}>
            <p> {{'@' + $ctrl.details.login}} </p>
            <h1> {{$ctrl.details.name}} </h1>
            <p> {{$ctrl.details.bio}} </p>

        </div>
    </div>
    <div class="">{{ $ctrl.details.error }}</div>
    <div class="userRepos"
         ng-if="$ctrl.details.repos.length > 0 ">
        <h2> Repositories </h2>
        <hr>
        <div class="repoDetails"
             data-ng-repeat="repo in $ctrl.details.repos">
            <h3> {{ repo.name }}
                <i class="fa fa-code-fork fork-font" aria-hidden="true"> {{repo.forks_count}} </i>
                <i class="fa fa-star star-font" aria-hidden="true"> {{repo.stargazers_count}} </i></h3>

        </div>
    </div>
</div>

