.search {
  margin: 50px 0;
  padding: 25px;
  background-color: #FFFFFF;
  border-radius: 15px;

  & .user-input {
    @include borderBox(border-box);
    @include boxShadow(inset 0 0 2px lightgrey);

    height: 34px;
    width: 100%;
    min-width: 75px;
    margin: 0px;
    padding: 7px;
    background: transparent;
    border: 1px solid #BEBEBE;
    border-radius: 5px;
    font-weight: bold;
    &::-webkit-input-placeholder {
      line-height: 3;
      color: #BFC0C3;
      font-size: 12px;
    }
  }

  & .button-search {
    @include linearGradient(#fbfbfb, #EEEEEE);
    height: 34px;
    width: 90%;
    min-width: 50px;
    padding: 7px 15px 7px 15px;
    margin-left: 15px;
    border: 1px solid #BEBEBE;
    border-radius: 5px;
    color: black;
    font-size: 12px;
    font-weight: bold;
    &:hover {
      @include linearGradient(#EEEEEE, #fbfbfb)
    }
  }
}




