<div class="row">
    <div class="col-2 col-m-1 col-s-1"></div>
    <div class="col-8 col-m-10 col-s-10">
        <div class="search">
            <div class="row">
                <div class="col-10 col-m-10 col-s-12">
                    <input type="text"
                           class="user-input"
                           placeholder="Search username..."
                           data-ng-model="searchCtrl.userName"/>
                </div>
                <div class="col-2 col-m-2 col-s-12">
                    <button class="button-search"
                            data-ng-click="searchCtrl.displayUserDetails()">Search
                    </button>
                </div>
            </div>
            <content
                    name="searchCtrl.name"
                    details="searchCtrl.details"></content>
        </div>
    </div>
</div>
<div class="col-2 col-m-1 col-s-1"></div>
</div>

